.textArea {
    -fx-text-fill: white;
    -fx-font-style: italic;
    -fx-control-inner-background: black;
    -fx-background-color: black;
    -fx-border-color: black;
    -fx-border-radius: 10px;
}
